footer{
    padding: 60px 0 48px 0;
    margin-top: 20px;
    background-color: #eea94e;
    .copyright-text{
        color: #fff;
        font-size: 18px;
        text-align: center;
        margin-bottom: 16px;
    }
}